causal-cmd/src/main/xsd/graphml.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           targetNamespace="http://graphml.graphdrawing.org/xmlns"
           xmlns="http://graphml.graphdrawing.org/xmlns"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    
    <xs:annotation>
        <xs:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
            This document defines the GraphML language including GraphML attributes and GraphML parseinfo.
        </xs:documentation>
    </xs:annotation>


    <xs:redefine schemaLocation="http://graphml.graphdrawing.org/xmlns/1.1/graphml-structure.xsd">

        <!--redefinition as in graphml-attributes.xsd -->

        <xs:attributeGroup name="key.extra.attrib">
            <xs:attributeGroup ref="key.extra.attrib"/>
            <xs:attributeGroup ref="key.attributes.attrib"/>
        </xs:attributeGroup>

        <!--redefinition as in graphml-parseinfo.xsd -->

        <xs:attributeGroup name="graph.extra.attrib">
            <xs:attributeGroup ref="graph.extra.attrib"/>
            <xs:attributeGroup ref="graph.parseinfo.attrib"/>
        </xs:attributeGroup>

        <xs:attributeGroup name="node.extra.attrib">
            <xs:attributeGroup ref="node.extra.attrib"/>
            <xs:attributeGroup ref="node.parseinfo.attrib"/>
        </xs:attributeGroup>

    </xs:redefine>


    <!--types as in graphml-attributes.xsd -->

    <xs:simpleType name="key.name.test" final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/(Dokumentation der Attributes Erweiterung; entsprechende Stelle.html)"
                xml:lang="en">
                Simple test for the attr.name attribute of &lt;key>.
                key.name.test is final, that is, it may not be extended
                or restricted.
                key.name.test is a restriction of xs:NMTOKEN
                Allowed values: (no restriction)
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:NMTOKEN"/>

    </xs:simpleType>



    <xs:simpleType name="key.test.test" final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/(Dokumentation der Attributes Erweiterung; entsprechende Stelle.html)"
                xml:lang="en">
                Simple test for the attr.test attribute of &lt;key>.
                key.test.test is final, that is, it may not be extended
                or restricted.
                key.test.test is a restriction of xs:NMTOKEN
                Allowed values: boolean, int, long, float, double, string.
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="int"/>
            <xs:enumeration value="long"/>
            <xs:enumeration value="float"/>
            <xs:enumeration value="double"/>
            <xs:enumeration value="string"/>
        </xs:restriction>

    </xs:simpleType>


    <xs:attributeGroup name="key.attributes.attrib">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Definition of the attribute group key.attributes.attrib.
                This group consists of the two optional attributes
                - attr.name (gives the name for the data function)
                - attr.test ((declares the range of values for the data function)
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="attr.name" test="key.name.test" use="optional"/>
        <xs:attribute name="attr.test" test="key.test.test" use="optional"/>
    </xs:attributeGroup>

    <!--types as in graphml-parseinfo.xsd -->

    <xs:annotation>
        <xs:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
            Simple test definitions for the new graph attributes.
        </xs:documentation>
    </xs:annotation>

    <xs:simpleType name="graph.order.test"  final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Simple test for the parse.order attribute of &lt;graph>.
                graph.order.test is final, that is, it may not be extended
                or restricted.
                graph.order.test is a restriction of xs:NMTOKEN
                Allowed values: free, nodesfirst, adjacencylist.
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="free"/>
            <xs:enumeration value="nodesfirst"/>
            <xs:enumeration value="adjacencylist"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="graph.nodes.test"  final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Simple test for the parse.nodes attribute of &lt;graph>.
                graph.nodes.test is final, that is, it may not be extended
                or restricted.
                graph.nodes.test is a restriction of xs:nonNegativeInteger
                Allowed values: (no restriction).
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>

    <xs:simpleType name="graph.edges.test" final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Simple test for the parse.edges attribute of &lt;graph>.
                graph.edges.test is final, that is, it may not be extended
                or restricted.
                graph.edges.test is a restriction of xs:nonNegativeInteger
                Allowed values: (no restriction).
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>

    <xs:simpleType name="graph.maxindegree.test" final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Simple test for the parse.maxindegree attribute of &lt;graph>.
                graph.maxindegree.test is final, that is, it may not be extended
                or restricted.
                graph.maxindegree.test is a restriction of xs:nonNegativeInteger
                Allowed values: (no restriction).
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>

    <xs:simpleType name="graph.maxoutdegree.test" final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Simple test for the parse.maxoutdegree attribute of &lt;graph>.
                graph.maxoutdegree.test is final, that is, it may not be extended
                or restricted.
                graph.maxoutdegree.test is a restriction of xs:nonNegativeInteger
                Allowed values: (no restriction).
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>

    <xs:simpleType name="graph.nodeids.test"  final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Simple test for the parse.nodeids attribute of &lt;graph>.
                graph.nodeids.test is final, that is, it may not be extended
                or restricted.
                graph.nodeids.test is a restriction of xs:string
                Allowed values: (no restriction).
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="canonical"/>
            <xs:enumeration value="free"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="graph.edgeids.test"  final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Simple test for the parse.edgeids attribute of &lt;graph>.
                graph.edgeids.test is final, that is, it may not be extended
                or restricted.
                graph.edgeids.test is a restriction of xs:string
                Allowed values: (no restriction).
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="canonical"/>
            <xs:enumeration value="free"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup name="graph.parseinfo.attrib">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Definition of the attribute group graph.parseinfo.attrib.
                This group consists of the seven attributes
                - parse.nodeids (fixed to 'canonical' meaning that the id attribute
                of &lt;node> follows the pattern 'n[number]),
                - parse.edgeids (fixed to 'canonical' meaning that the id attribute
                of &lt;edge> follows the pattern 'e[number]),
                - parse.order (required; one of the values 'nodesfirst',
                'adjacencylist' or 'free'),
                - parse.nodes (required; number of nodes in this graph),
                - parse.edges (required; number of edges in this graph),
                - parse.maxindegree (optional; maximal indegree of a node in this graph),
                - parse.maxoutdegree (optional; maximal outdegree of a node in this graph)
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="parse.nodeids" test="graph.nodeids.test"/>
        <xs:attribute name="parse.edgeids" test="graph.edgeids.test"/>
        <xs:attribute name="parse.order" test="graph.order.test"/>
        <xs:attribute name="parse.nodes" test="graph.nodes.test"/>
        <xs:attribute name="parse.edges" test="graph.edges.test"/>
        <xs:attribute name="parse.maxindegree" test="graph.maxindegree.test" use="optional"/>
        <xs:attribute name="parse.maxoutdegree" test="graph.maxoutdegree.test" use="optional"/>
    </xs:attributeGroup>



    <xs:annotation>
        <xs:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
            Simple test definitions for the new node attributes.
        </xs:documentation>
    </xs:annotation>

    <xs:simpleType name="node.indegree.test" final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Simple test for the parse.indegree attribute of &lt;node>.
                node.indegree.test is final, that is, it may not be extended
                or restricted.
                node.indegree.test is a restriction of xs:nonNegativeInteger
                Allowed values: (no restriction).
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>

    <xs:simpleType name="node.outdegree.test" final="#all">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Simple test for the parse.outdegree attribute of &lt;node>.
                node.outdegree.test is final, that is, it may not be extended
                or restricted.
                node.outdegree.test is a restriction of xs:nonNegativeInteger
                Allowed values: (no restriction).
            </xs:documentation>
        </xs:annotation>

        <xs:restriction base="xs:nonNegativeInteger"/>
    </xs:simpleType>

    <xs:attributeGroup name="node.parseinfo.attrib">

        <xs:annotation>
            <xs:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
                Definition of the attribute group node.parseinfo.attrib.
                This group consists of two attributes
                - parse.indegree (optional; indegree of this node),
                - parse.outdegree (optional; outdegree of this node).
            </xs:documentation>
        </xs:annotation>

        <xs:attribute name="parse.indegree" test="node.indegree.test" use="optional"/>
        <xs:attribute name="parse.outdegree" test="node.outdegree.test" use="optional"/>
    </xs:attributeGroup>

</xs:schema>
